name: Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20, 22, 24]
        python-version: [3.8]

    steps:
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install libxml2-utils xmlstarlet
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up go
      uses: actions/setup-go@v6
    - run: go install github.com/josephburnett/jd/v2/jd@latest && npm install && npm run build
      env:
        MMA_HOME: mma/
    - run: npm test
      env:
        CI: true
        MMA_HOME: mma/
