name: Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]
        python-version: [3.8]

    steps:
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install libxml2-utils
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/checkout@v2
      with:
        repository: infojunkie/mma
        path: mma
        ref: infojunkie
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: npm install && npm run build:grooves
      env:
        MMA_HOME: mma/
    - run: npm test
      env:
        CI: true
        MMA_HOME: mma/
